html,
body,
#__next{
  box-sizing: border-box;
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
a, button {
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
html * {
  font-family: inherit;
}
body {
  background-color: transparent;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  /* Foreground */
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
}

:root {
  --text-filter: drop-shadow(0px 0px 8.68034px #FF00F5) drop-shadow(0px 0px 8.68034px #8773FF)
}

html {
  background: #000000 radial-gradient(154.35% 69.77% at 19.06% 50%, rgba(67, 38, 81, 0.4) 12.81%, rgba(58, 136, 131, 0.4) 31.56%, rgba(49, 83, 93, 0.4) 43.82%, rgba(28, 28, 48, 0.4) 64.58%, rgba(16, 16, 31, 0.4) 100%) no-repeat;
  min-height: 100vh;
}
html,
input,
button,
textarea,
dialog {
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.4;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.8;
  }
  46% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}


.Arrow1_svg__blink {
  animation: fade 5s infinite alternate
}

.Arrow2_svg__blink {
  animation: fade 6s 1s infinite alternate-reverse;
}

.Arrow3_svg__blink {
  animation: fade 5s 1s infinite alternate-reverse;
}
.bubble {
  position: absolute;
  z-index: -3;
  aspect-ratio: 0.98;
  will-change: transform;
  pointer-events: none;
}
.bubble img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
}
.bubble.blur10 {
  filter: blur(10px);
}

.bubble.blur26 {
  filter: blur(26px);
}
.bubble.op05 {
  opacity: 0.5;
}
.bubble.op06 {
   opacity: 0.6;
}

.bubble.rot50 img{
  transform: rotate(-51.83deg);
}
.bubble.rot100 img{
  transform: rotate(-105deg)
}

.bubble.rot40 img{
  transform: rotate(45deg)
}
.bubble.rot10 img{
  transform: rotate(14.01deg);
}
.bubble.rot20 img{
  transform: rotate(21.93deg);
}

.bubble-1 {
  left: -10%;
  top: 50%;
}
.bubble-2 {
  width: 80px;
  height: 80px;
  left: 20%;
  top: 10%;
}
.bubble-3 {
  width: 200px;
  height: 200px;
  right: 10%;
  top: -20%;
 }

.bubble-4{
  left: 0;
  top: 0;
}

.bubble-5{
  width: 100px;
  height: 100px;
  right: 25%;
  top: 25%;
}

.bubble-6{
  width: 130px;
  height: 130px;
  left: -5%;
  top: 40%;
}

.bubble-7{
  width: 230px;
  height: 230px;
  left: 0;
  top: 65%;
}

.bubble-8{
  width: 260px;
  height: 260px;
  right: 0;
  top: 70%;
}

.bubble-9 {
  width: 190px;
  height: 190px;
  right: 0;
  top: 0;
}

.bubble-10 {
  width: 275px;
  height: 275px;
  left: -5%;
  top: -25%;
}

.bubble-11 {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 20%;
}
.bubble-11 img {
  width: 100%;
}

.bubble-12 {
  width: 205px;
  height: 205px;
  left: 15%;
  top: -170%;
}

.bubble-13 {
  width: 500px;
  height: 500px;
  right: 0;
  bottom: 10%;
}
.bubble-13 img {
  width: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
}
main {
  flex: 1;
}
img {
  opacity: 0;
}

img.image_loaded {
  opacity: 1;
}
